.honda-bg-info{
    color: white;
    background-color: #264653;
}
.honda-button{
    background-color: #E76F51;
}
.modal-content {
    color: black;
}
/* .modal-body{
    color: black;
} */
#honda-gray{
    filter: grayscale(100%);
}
.fas{
    color: #E77C40;
}
.far{
    color: #E77C40;
}